body {
    background-color: #3e3e3e;
    color: white;
}

.row.pyjamas:nth-child(odd) {
    background-color: #b6b6b6;
    border-radius: 4px;
    margin-top:1px;
}

.row.pyjamas:nth-child(even) {
    background-color: #cfcfcf;
    border-radius: 4px;
    margin-top: 1px;
}

.col-centered {
    margin-top: 6px;
}
