@model City
@*@model CountryCitiesViewModel*@


<li class="row pyjamas">
    <div class="col-md-2 col-vcentered">@Model.Name</div>
    <div class="col-md-2 col-vcentered">Population: @Model.Population</div>

</li>