@model Person

<li class="row pyjamas" id="list-id-@Model.Id">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-vcentered">@Model.FirstName</div>
    <div class="col-md-2 col-vcentered">@Model.LastName</div>
    <div class="col-md-3 col-vcentered">@Model.Email</div>
    <div class="col-md-1 col-vcentered ">@Model.Phone</div>

</li>