@model Country
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Country</h4>
<hr />

<h3>Select Country from Dropdown list</h3>

<br /><br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select style="width:400px" asp-for="Name" asp- class="btn btn-lg btn-secondary dropdown-toggle">
                    <option value="">Select</option>
                    <option value="Arabia">Arabia</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Australia">Australia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Canada">Canada</option>
                    <option value="Catalonia">Catalonia</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Egypt">Egypt</option>
                    <option value="Extremadura">Extremadura</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Greece">Greece</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Island">Island</option>
                    <option value="Italia">Italia</option>
                    <option value="Japan">Japan</option>
                    <option value="Libya">Libya</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="NewZealand">NewZealand</option>
                    <option value="Norway">Norway</option>
                    <option value="Poland">Poland</option>
                    <option value="Russia">Russia</option>
                    <option value="Spain">Spain</option>
                    <option value="Sweden">Sweden</option>
                    <option value="UK">UK</option>
                    <option value="USA">USA</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Zambia">Zambia</option>
                </select>

                @*<select asp-for="Name" asp-items="Html.GetEnumSelectList(typeof(CountryName))" class="btn btn-lg btn-secondary dropdown-toggle"></select>*@
                @*<select asp-for="Name" asp-items="Html.GetEnumSelectList<CountryName>()" class="btn btn-lg btn-secondary dropdown-toggle"></select>*@
                @*<label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" autofocus="autofocus" />
                    <span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Country" asp-action="Index">Back to List</a>
</div>

