@model Country
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (User.IsInRole("Admin"))
{

    <div>
        <h4>City</h4>
        <hr />
        <img src="~/img/@Model.Name-icon.png" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

    </div>
    <div>
        @*<a asp-controller="Country" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Edit</a>*@
        @*<span onclick="return confirm('Are you really sure to delete?')"></span>*@
        <a asp-controller="Country" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Delete</a>
    </div>
    <br />
}
<div>
    <a asp-controller="Country" asp-action="Index">Back to List</a>
</div>

