@model List<Country>
@*@model CountryCitiesViewModel*@
@{
    ViewData["Title"] = "Country";
}





@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <h1>Country</h1>
        <h4>Country / City / People List</h4>
        <p><a class="btn btn-sm btn-primary" asp-controller="Country" asp-action="Create" method="get">New Country</a></p>
    }
    else
    {
        <h1>People</h1>
        <h4>People List</h4>
    }
}


<div class="list-container">
    <ul>

        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Country", item)

            @foreach (var item2 in item.Cities)
            {
                @await Html.PartialAsync("_City", item2)
                @foreach (var item3 in item2.People)
                {
                    @await Html.PartialAsync("_Person", item3)

                }
            }

        }

    </ul>
</div>





