@model List<Country>
@*@model CountryCitiesViewModel*@
@{
    ViewData["Title"] = "Country";
}

<h1>Country</h1>

<h4>Country List</h4>
<br />


<div class="list-container">
    <ul>
        <li class="row">
            <div class="col-md-4 col-vcentered">Country</div>
            <div class="col-md-4 col-vcentered"></div>
            <div class="col-md-4 col-vcentered">Options</div>
        </li>
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Country", item)

            @*@foreach (var item in Model.cities)
            {
                @await Html.PartialAsync("_City", item)
            }*@
        }
    </ul>
</div>