@{
    ViewBag.Title = "About";
}
<h1>About</h1>

<h4>Identity</h4>
<hr />

<div>
    <address>
        <strong>Peoples List with<br /></strong>
        <strong>The Microsoft Identity Way<br /></strong>
        Växjö<br />
        <abbr title="Phone">P:</abbr>
        0470-123 456
    </address>
    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:support@ab.se">Support@ab.se</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:marketing@ab.se">Marketing@ab.se</a>
    </address>
</div>

