@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>

<h4>Peoples List</h4>
<hr />

<h4>You don't have access to do this.</h4>


<a asp-controller="Account" asp-action="Login">Login with the correct credentials</a>