@model List<IdentityUser>
@{
    ViewData["Title"] = "Add User To Role";
}

<h1>Add User To Role</h1>

<h4>Role</h4>
<br />
<h3>Give user access to the @ViewBag.Role role</h3>
<hr />

<div class="list-container">
    <ul>
        <li class="row">
            <div class="col-md-2 col-vcentered">Name</div>
            <div class="col-md-2 col-vcentered"></div>
            <div class="col-md-4 col-vcentered"></div>
            <div class="col-md-4 col-vcentered">Options</div>
        </li>
        @foreach (var item in Model)
        {
            <li class="row pyjamas">
                <div class="col-md-4 col-vcentered">@item.UserName</div>
                <div class="col-md-4 col-vcentered"></div>
                <div class="col-md-4">
                    @Html.ActionLink("Assign Role", "AddUserToRoleSave", "RolesAdmin", new { role = ViewBag.Role, userId = item.Id }, new { @class = "btn btn-sm btn-primary m-1" })
                </div>
            </li>
        }
    </ul>
</div>

<div>
    <a href="#" onClick="history.go(-1)">Return to Details</a>
</div>
