@model PersonView


@{
    ViewData["Title"] = "People List";
}
<h1>People</h1>
<h4>Peoples List</h4>

<br />
@if (User.Identity.IsAuthenticated)
{
    <p><a class="btn btn-sm btn-primary" asp-controller="People" asp-action="Create" method="get">Create New</a></p>
}

<hr />

<div class="list-container">
    <ul>
        <li class="row">
            <div class="col-md-2 col-centered">First Name</div>
            <div class="col-md-2 col-centered">Last Name</div>
            <div class="col-md-2 col-centered">Email</div>
            <div class="col-md-3 col-centered">Roles</div>
            <div class="col-md-3">Options</div>
        </li>


        @foreach (var item in Model.persons)

        {
            @await Html.PartialAsync("_Person", item)
        }
    </ul>
</div>

<hr />










